#main-wrapper {
 display: flex;
 flex-flow: row wrap;
}

  

#main-wrapper > header {
 flex: 2 100%;
 background-color: #FFB4B0;
 border: 2px solid black;
 height: 53px;
 margin-bottom: 1em;
 max-width: 
}

#filter-content{
  flex-grow: 3; 
  background-color: #4DD7FA;
  border: 2px solid black;
  margin-right: 1em;
}

#song-info-content {
  flex-grow: 6;
  background-color: #FEFAC0;
  border: 2px solid black;
}

nav {
  margin-top: 15px;
  margin-left: 10px;
  
}

.nav {
 display: inline;
}


#checkbox-wrapper {
 display: flex;
 margin: 1em;
 margin-left: 20%;
 flex-flow: row wrap;
}

.filter-section {
 margin: .75em; 
}

.centered-width {
 width: 60%;
 margin-left: 20%;
 margin-right: 20%;
}

#song-info-content span:nth-of-type(even){
  background-color: coral;
}

#song-info-content span:nth-of-type(odd){
  background-color: aqua;
}

.song-info {
  display: block;
  margin: 1em;
  font-size: 1.75em;
}