.main-wrapper {
  width: 57%;
  overflow: hidden;
  font-family: Arial, serif;
}

.navbar-wrapper {
  width: 99%;
  border: solid black;
  margin: auto;
  background-color: #FFB4B0;
}

.song-filter-wrapper {
  width: 100%;
  margin-top: .75em;
  display: flex;
}

.filter-wrapper {
  width: 20%;
  border: solid black;
  background-color: #4DD7FA;
  display: inline-block;
  padding: 1em;
}

.song-info-wrapper {
  width: 80%;
  border: solid black;
  background-color: #FEFAC0;
  display: inline-block;
  margin-left: .75em;
}

.navbar-wrapper ul li{
  display: inline;
}

.navbar-wrapper ul li:first-child a:first-child {
  color: black;
  text-decoration: none;
}

input {
  max-width: 90%;
}

.song-info {
  display: inline;
  margin: 25px auto 30px;
}

.song-name {
  color: #785616;
  margin: 25px auto 30px 20px;
  font-size: 1.5em;
}


select {
  width: 90%;
  border: solid black;
  margin: 10%
}

.song-name + .song-info {
  margin-left: 1em;
}

input[type="submit"] {
  width: 80%;
  text-align: center;
  border: solid black;
  border-radius: 10%;
  margin: 10%;
}


.left-checkboxes {
  float: left;
}

.right-checkboxes {
  float: right;
}

@media (min-width: 1250px) {
  .main-wrapper {
    margin: 0 auto;
  }
}
